<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::head-fragment('注册')">
</head>
<body>

<div th:replace="header::header-fragment"></div>

<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a th:href="@{/login}">Login</a></li>
                <li class="layui-this">Register</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form method="post" id="registerForm" onsubmit="return false;" action="##">
                            <div class="layui-form-item">
                                <label for="loginName" class="layui-form-label">Email</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="loginName" name="loginName" required lay-verify="email"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">Will be your unique login name</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="nickName" class="layui-form-label">Nickname</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="nickName" name="nickName" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="password" class="layui-form-label">Password</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="password" name="password" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6 to 20 characters</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="repass" class="layui-form-label">Confirm Password</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="repass" name="repass" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="verifyCode" class="layui-form-label">Verification code</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="verifyCode" name="verifyCode" required lay-verify="required"
                                           placeholder="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">
                  <span><img data-tooltip="Can't see clearly? Change one"
                             th:src="@{/common/captcha}"
                             onclick="this.src='/common/captcha?d='+new Date()*1"
                             alt="Click the picture to refresh!"></span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit onclick="register()">Register Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="fly-footer">
    <p>My-BBS 2022 Hu-T1</p>
</div>

<script th:src="@{/js/public.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['layer', 'jquery'], function () {
        var layer = layui.layer;
        var $ = layui.$;
        window.register = function () {
            var $ = layui.$;
            var loginName = $("#loginName").val();
            if (!validEmail(loginName)) {
                layer.alert('Please enter the correct login name!', {title: 'Warn', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            var nickName = $("#nickName").val();
            if (!validUserName(nickName)) {
                layer.alert('Please enter the correct nickname!', {title: 'Warn', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            var password = $("#password").val();
            if (!validPassword(password)) {
                layer.alert('Please enter the correct password format!', {title: 'Warn', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            var repass = $("#repass").val();
            if (!validPassword(repass)) {
                layer.alert('Please enter the correct password format!', {title: 'Warn', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            if (repass != password) {
                layer.alert('Confirm that the password is different from the password field!', {title: 'Warn', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            var verifyCode = $("#verifyCode").val();
            if (!validLength(verifyCode, 5)) {
                layer.alert('Please enter the correct verification code!', {title: 'Warn', skin: 'layui-layer-molv', icon: 2});
                return false;
            }
            var params = $("#registerForm").serialize();
            var url = '/register';
            $.ajax({
                type: 'POST',//方法类型
                url: url,
                data: params,
                success: function (result) {
                    if (result.resultCode == 200) {
                        layer.alert('Registration succeeded!', {title: 'info', skin: 'layui-layer-molv', icon: 1});
                    } else {
                        layer.msg(result.message);
                    }
                    ;
                },
                error: function () {
                    layer.alert('Operation failed!', {title: 'Warn', skin: 'layui-layer-molv', icon: 2});
                }
            });
        }
    });
</script>
</body>
</html>
