package ${package}.dao;
import ${package}.entity.${className};

import java.util.List;
import java.util.Map;
import org.apache.ibatis.annotations.Mapper;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {

    ${className} findById(${pk.attrType} ${pk.attrname});

    ${className} findByMap(Map<String, Object> map);

    List<${className}> list(Map<String, Object> map);

    int save(${className} ${classname});

    int updatez(${className} ${classname});

    int deletez(${pk.attrType} ${pk.columnName});

    int batchDelete(Long[] ${pk.attrname}s);


}
