package ${package}.service;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.extension.service.IService;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service  extends IService<${className}> {

	${className} findById(${pk.attrType} ${pk.attrname});

	${className} findByMap(Map<String, Object> map);

	List<${className}> list(Map<String, Object> map);

	int saved(${className} ${classname});

	int update(${className} ${classname});

	int delete(${pk.attrType} ${pk.attrname});

	int batchDelete(Long[] ${pk.attrname}s);
}
