<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.bbs.mapper.TbBbsPostMapper">

    <select id="findById" resultType="com.my.bbs.entity.TbBbsPost">
        select `post_id`,`publish_user_id`,`post_title`,`post_content`,`post_category_id`,`post_category_name`,`post_status`,`post_views`,`post_comments`,`post_collects`,`last_update_time`,`create_time`,`media_url`,`is_del` from tb_bbs_post
        where post_id = #{value} and del_flag = 0
    </select>

    <select id="findByMap" resultType="com.my.bbs.entity.TbBbsPost">
        select `post_id`,`publish_user_id`,`post_title`,`post_content`,`post_category_id`,`post_category_name`,`post_status`,`post_views`,`post_comments`,`post_collects`,`last_update_time`,`create_time`,`media_url`,`is_del` from tb_bbs_post
        <where>
            <if test="postId != null and postId != ''"> and post_id = #{postId} </if>
            <if test="publishUserId != null and publishUserId != ''"> and publish_user_id = #{publishUserId} </if>
            <if test="postTitle != null and postTitle != ''"> and post_title = #{postTitle} </if>
            <if test="postContent != null and postContent != ''"> and post_content = #{postContent} </if>
            <if test="postCategoryId != null and postCategoryId != ''"> and post_category_id = #{postCategoryId} </if>
            <if test="postCategoryName != null and postCategoryName != ''"> and post_category_name = #{postCategoryName} </if>
            <if test="postStatus != null and postStatus != ''"> and post_status = #{postStatus} </if>
            <if test="postViews != null and postViews != ''"> and post_views = #{postViews} </if>
            <if test="postComments != null and postComments != ''"> and post_comments = #{postComments} </if>
            <if test="postCollects != null and postCollects != ''"> and post_collects = #{postCollects} </if>
            <if test="lastUpdateTime != null and lastUpdateTime != ''"> and last_update_time = #{lastUpdateTime} </if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
            <if test="mediaUrl != null and mediaUrl != ''"> and media_url = #{mediaUrl} </if>
            <if test="isDel != null and isDel != ''"> and is_del = #{isDel} </if>
            and del_flag = 0
        </where>
        order by post_id desc limit 1
    </select>

    <select id="list" resultType="com.my.bbs.entity.TbBbsPost">
        select `post_id`,`publish_user_id`,`post_title`,`post_content`,`post_category_id`,`post_category_name`,`post_status`,`post_views`,`post_comments`,`post_collects`,`last_update_time`,`create_time`,`media_url`,`is_del` from tb_bbs_post
        <where>
            <if test="postId != null and postId != ''">and post_id = #{postId}</if>
            <if test="publishUserId != null and publishUserId != ''">and publish_user_id = #{publishUserId}</if>
            <if test="postTitle != null and postTitle != ''">and post_title = #{postTitle}</if>
            <if test="postContent != null and postContent != ''">and post_content = #{postContent}</if>
            <if test="postCategoryId != null and postCategoryId != ''">and post_category_id = #{postCategoryId}</if>
            <if test="postCategoryName != null and postCategoryName != ''">and post_category_name = #{postCategoryName}</if>
            <if test="postStatus != null and postStatus != ''">and post_status = #{postStatus}</if>
            <if test="postViews != null and postViews != ''">and post_views = #{postViews}</if>
            <if test="postComments != null and postComments != ''">and post_comments = #{postComments}</if>
            <if test="postCollects != null and postCollects != ''">and post_collects = #{postCollects}</if>
            <if test="lastUpdateTime != null and lastUpdateTime != ''">and last_update_time = #{lastUpdateTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="mediaUrl != null and mediaUrl != ''">and media_url = #{mediaUrl}</if>
            <if test="isDel != null and isDel != ''">and is_del = #{isDel}</if>
            and del_flag = 0
        </where>
        <choose>
            <when test="orderBySql != null">
                order by ${orderBySql}
            </when>
            <otherwise>
                order by post_id desc
            </otherwise>
        </choose>
        <if test="limitCondition != null">
            ${limitCondition}
        </if>
    </select>

    <insert id="save" parameterType="com.my.bbs.entity.TbBbsPost" useGeneratedKeys="true" keyProperty="postId">
        insert into tb_bbs_post
        (<trim suffixOverrides=",">
            <if test="publishUserId != null">`publish_user_id`,</if>
            <if test="postTitle != null">`post_title`,</if>
            <if test="postContent != null">`post_content`,</if>
            <if test="postCategoryId != null">`post_category_id`,</if>
            <if test="postCategoryName != null">`post_category_name`,</if>
            <if test="postStatus != null">`post_status`,</if>
            <if test="postViews != null">`post_views`,</if>
            <if test="postComments != null">`post_comments`,</if>
            <if test="postCollects != null">`post_collects`,</if>
            <if test="lastUpdateTime != null">`last_update_time`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="mediaUrl != null">`media_url`,</if>
        </trim>)
        values
        (<trim suffixOverrides=",">
            <if test="publishUserId != null">#{publishUserId},</if>
            <if test="postTitle != null">#{postTitle},</if>
            <if test="postContent != null">#{postContent},</if>
            <if test="postCategoryId != null">#{postCategoryId},</if>
            <if test="postCategoryName != null">#{postCategoryName},</if>
            <if test="postStatus != null">#{postStatus},</if>
            <if test="postViews != null">#{postViews},</if>
            <if test="postComments != null">#{postComments},</if>
            <if test="postCollects != null">#{postCollects},</if>
            <if test="lastUpdateTime != null">#{lastUpdateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="mediaUrl != null">#{mediaUrl},</if>
        </trim>)
    </insert>

    <update id="updatez" parameterType="com.my.bbs.entity.TbBbsPost">
        update tb_bbs_post
        <set>
            <if test="publishUserId != null">`publish_user_id` = #{publishUserId},</if>
            <if test="postTitle != null">`post_title` = #{postTitle},</if>
            <if test="postContent != null">`post_content` = #{postContent},</if>
            <if test="postCategoryId != null">`post_category_id` = #{postCategoryId},</if>
            <if test="postCategoryName != null">`post_category_name` = #{postCategoryName},</if>
            <if test="postStatus != null">`post_status` = #{postStatus},</if>
            <if test="postViews != null">`post_views` = #{postViews},</if>
            <if test="postComments != null">`post_comments` = #{postComments},</if>
            <if test="postCollects != null">`post_collects` = #{postCollects},</if>
            <if test="lastUpdateTime != null">`last_update_time` = #{lastUpdateTime},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="mediaUrl != null">`media_url` = #{mediaUrl},</if>
            <if test="isDel != null">`is_del` = #{isDel}</if>
        </set>
        where post_id = #{postId} and del_flag = 0
    </update>

    <delete id="deletez">
        update tb_bbs_post
        <set>
            del_flag = 1
        </set>
        where post_id = #{value}
    </delete>

    <delete id="batchDelete">
        update tb_bbs_post
        <set>
            del_flag = 1
        </set>
        where post_id in
        <foreach item="postId" collection="array" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </delete>

</mapper>
